# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Data files
*.csv
*.pkl
*.npy

# Python
__pycache__/
*.pyc
.venv/

# Jupyter
.ipynb_checkpoints/